* {
    font-family: 'Roboto', sans-serif;
    color:#ddd;
}

body {
    background-color: #222831;
    margin: 0;
}

.header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #fac650;
    background-color: #111720;
    font-family: 'Caveat Brush', cursive;
    font-style: italic;
}

#greeting, #scoreKeeperText, #announcePlayer  {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

img {
    height:125px;
    width: auto;
    background-color: #4a4f57;
    border: 5px solid black;
    border-radius: 10px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#playButtons, #cpButtons {
    background-color: #111720;
    border: 2px solid #fac650;
    border-radius: 10px;
}

.buttonFlex {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.scoreDisplayer {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#cpIcon, #plIcon {
    height: 50px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1e3652;
    padding: 2px;
}

#plIcon {
   background-color: #682e2e; 
}

#Rock , #Paper , #Scissors {
    transform: scaleX(-1);
}

#greeting, #announcePlayer, #scoreKeeperText {
    font-family: 'Lobster', cursive;
    margin: 5px;
}

#greeting, #announcePlayer {
    font-family: 'Lobster', cursive;
}